<footer>
    <p class="mention"><a href="mentions.html">Mentions-légals</a></p>

    <section id="reseaux-sociaux">
        <figure class="reseaux"><a href="https://m.facebook.com/LesCompagnonsDuCoeur"><img class="fb"
                    src="/images/facebook.png" alt="Facebook"></a></figure>
        <figure class="reseaux"><a href="https://www.snapchat.com/add/LCDCOEUR"><img class="snap"
                    src="/images/snapchat.png" alt="Instagram"></a></figure>
        <figure class="reseaux"><a href="https://www.paypal.com/paypalme/LesCompagnons"><img class="paypal"
                    src="/images/paypal.png" alt="Facebook"></a></figure>
        <figure class="reseaux"><a href="https://www.instagram.com/les_compagnons_du_coeur/?hl=fr"><img class="insta"
                    src="/images/instagram.png" alt="Instagram"></a></figure>
    </section>
</footer>