<header class="header">
    <a href="/">
        <figure><img class="logo" src="/images/logo.png" alt="Logo les compagnons du coeur">
        </figure>
    </a>
    <!-- start nav -->
    <nav>
        <ul class="nav-links">
            <li><a href="/">HOME</a></li>
            <li><a href="/participer">PARTICIPER</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
        <!-- start burger -->
        <div class="burger">
            <span></span>
        </div>
        <!-- end burger -->
    </nav>
    <!-- end nav -->
</header>