<h1>DASHBOARD ADMINISTRATEUR</h1>
<div class="dashboard">
    <a class="dash" href="/maraude/form-create-maraude">Créer une maraude</a>
    <a class="dash" href="/maraude/manage-maraudes">Gérer les maraudes</a>
    <a class="dash" href="/dashboard/manage-users">Gérer les utilisateurs</a>
</div>