{{title}}
<div class="dashboard">
    <a href="/maraude/form-create-maraude">Créer une maraude</a>
    <a href="">Gérer les maraudes</a>
    <a href="/dashboard/manage-users ">Gérer les utilisateurs</a>
</div>