<div class="form">
    <form id="form" action="/maraude/create" method="post" class="add-product-form">
        {{#if msg}}
        <p class="msg {{msg.statu}}">{{msg.txt}}</p>
        {{/if}}
        <h3 class="form-title">Maraude</h3>
        <div class="formation-item">
            <label for="form-date" class="label-descr label">Date</label>
            <input id="form-date" type="date" class="form-mini-descr form-input line" placeholder="ex: 12/09/2020"
                name="date">
        </div>
        <div class="form-one">
            <label for="nom-rue" class="label-name label">Nom rue</label>
            <input id="nom-rue-name" type="text" class="input-text input" placeholder="ex rue de la robelotte"
                name="nomRue">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="number-rue" class="label-ref label">Numéro rue</label>
            <input id="number-rue" type="number" class="input-text input" placeholder=90 name="numRue">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="ville" class="label-ref label">Ville</label>
            <input id="ville" type="text" class="input-text input" placeholder="ex: rosny-sous-bois" name="ville">
        </div>
        <div class="form-item-wrapper flexed-item">
            <label for="code-postale" class="label-descr label">Code postal</label>
            <input id="code-postal" type="number" class="input-text input" placeholder="ex: 93100" name="code_postal">
        </div>
        <button class="button">ok</button>

    </form>