<article>
    <section class="about">
        <img class="imghome" src="/images/about.jpg" alt="">
        <section>
            <h2>A propos</h2>
            <p class="pabout">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro exercitationem, error quos,
                sed
                vero voluptate
                quod excepturi neque ullam facere magni, molestiae eligendi in ex ab quasi perspiciatis illo fugiat!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio earum nam eaque, nisi et nihil iure
                ducimus culpa ex, sed accusantium officia perspiciatis quia magnam rerum! Cumque facere aliquam magni?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, temporibus inventore pariatur facilis,
                libero, ducimus dolore voluptatibus iste laboriosam laudantium enim in quas deserunt corrupti eaque
                ipsam
                doloribus neque necessitatibus!</p>
        </section>
    </section>
    <section class="action">
        <section>
            <h2>Nos Actions</h2>
            <p class="paction">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro exercitationem, error
                quos,
                sed vero voluptate
                quod excepturi neque ullam facere magni, molestiae eligendi in ex ab quasi perspiciatis illo fugiat!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quia nesciunt et culpa corrupti
                nulla
                porro quae libero non, ducimus nisi odio animi veritatis laborum consequatur doloribus sunt. Odio,
                molestiae?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur cumque nostrum dolorum! Dolorem
                animi
                error placeat autem aliquam reiciendis alias cupiditate suscipit, asperiores fuga ad eligendi veniam
                ipsam
                debitis nesciunt.</p>
        </section>
        <img class="imghome" src="/images/action.jpg" alt="">

    </section>
</article>