<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href="/stylesheets/style.css">
  <link rel="stylesheet" href="./">
  <script src="https://kit.fontawesome.com/fc8ec6aa4f.js" crossorigin="anonymous"></script>
  {{#each js}}
  <script type="module" src="/js/{{this}}.js"></script>
  {{/each}}
  <link rel="icon" href="/images/logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>



<body>
  {{>header}}
  {{{body}}}
</body>

</html>