<article class="article">
    <section class="maraude">
        <h2 class="h2participer">PARTICIPER AUX MARAUDES</h2>
        <p class="paraparticiper">POUR PARTICIPER AUX MARAUDES MERCI DE VOUS IDENTIFIER OU DE VOUS INSCRIRE</p>
        <a href="/auth/signin"><button class="connexion">CONNEXION</button></a>
        <a href="/auth/signup"><button class="inscription">INSCRIPTION</button></a>
    </section>

</article>