<h1>PARTICIPER</h1>
<section class="maraude">
    <h2>PARTICIPER AUX MARAUDES</h2>
    <P>POUR PARTICIPER AUX MARAUDES MERCI DE VOUS IDENTIFIER OU DE VOUS INSCRIRE </P>
    <a href="/auth/signin"><button>CONNEXION</button></a>
    <a href="/auth/signup"><button>INSCRIPTION</button></a>
</section>
<section class="don">
    <h2>FAIRE UN DON</h2>
    <a href="https://www.paypal.com/paypalme/LesCompagnons"><img src="/images/paypal.svg" alt="paypal"></a>
</section>