.title1 {
    margin-top: 150px;
    font-size: 36px;
    text-align: center;
    color: #333333;
    font-weight: 700;
    font-family: 'Lora', serif !important;
}

form {
    width: 70%;
    margin: auto;
    /* padding: 2% 5%; */
    min-width: 310px;

}

input {
    margin-top: 15px;
    width: 90%;
    min-width: 310px;
    height: 30%;
    border: 2px solid #8AB945;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    /* color: #333333; */
}

.input-text input, .input-text input

/* input::placeholder,
textarea::placeholder {
    color: #333333;
} */

/* input:hover,
textarea:hover {
    border: 3px solid #5ec1b9;
} */

textarea {
    width: 90%;
    margin-top: 15px;
    min-width: 310px;
    height: 200px;
    resize: none;
    border: 2px solid #8AB945;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
    margin-bottom: 30px;
}

input[type="submit"] {
    cursor: pointer;
    width: 20%;
    border-radius: 10px;
    background: #8AB945;
    color: white;
    font-size: 20px;
    transition: background .6s;
    margin-bottom: 50px;
    min-width: 150px;
    border: 1px solid #8AB945;
}

/* input:hover[type="submit"] {
    color: white;
    background: #5ec1b9;
    border: 1px solid #5ec1b9;
} */

.contact-hr {
    width: 150px;
    margin-left: 150px;
}

.rs {
    width: 20px;
    margin-right: 5px;
}



@media screen and (max-width: 768px) {
    #main-content {
        padding: 20px;
    }

    #form {
        padding: 0;
    }

    input,
    select,
    textarea,
    input[type="submit"] {
        font-size: 14px;
    }


}