header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*la nav contient les items*/
nav{
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-around; */
    /* flex-direction: row; */
    /* align-items: center; */
    min-height: 8vh;
    width: 800px;
    right: 0;
    margin-top: 30px;
    /* position: absolute; */

}


/* what appears on click of the menu burger*/
/*targetting ul*/
.nav-links{
    width: 800px;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

/*targetting li*/
.nav-links>li{
    list-style: none;
    width: 100px;
}

/*targetting a*/
.nav-links a{
    text-decoration: none;
    font-size: 20px;
    color: #8AB945;
}

.nav-links a:hover{
    color: #273F23;
}

/*targetting the burger class (contains the span)*/
.burger{
    display:none;
    cursor: pointer;
}

@media screen and (min-width: 980px){
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 60px;
    }

    header+section{
        width: 100%;
        height: 80vh;
        padding-top: 15%;
    }
}
 a.compose{
     display: none;
 }

@media screen and (max-width: 979px){

.nav-links{
    position: absolute;
    right: 0;
    height: 100vh;
    top: 8vh; /*correspond to the height of the nav*/
    background: white;
    display: flex;
    flex-direction: column; /*because i want them one below the other*/
    align-items: center; /*acts as justify-content because we used column*/
    width: 50%;
    transform: translateX(100%); /*animation until last item je le fais disparaitre*/
    transition: transform .5s ease-in-out; /*make the animation smooth*/
}

/*on click, display the hidden block (works with javascript)*/
.nav-active{
        transform: translate(0%);
        overflow-x: hidden; /*get rid of horizontal scroll-bar so we can't see the burger menu*/

    }

/*now we want the menu to appear on small screen*/
.burger{
    display: block;
    height: 7vh;
    width: 7vw;
    position: relative;
    top: 2vh;
    /* left: 40%; */
    left: calc( 95% - 7vw);
}

.burger span{
    width: 100%; /*va faire la largeur de 7vh (son parent le menu burger)*/
    height: 4px;
    background: chartreuse;
    display: block;
    position: absolute; /*we set the parent to relative so the span could depend on it*/
    transform: translateY(1vh);
}

/*create elements before and after the span that have those properties*/
.burger span::before,.burger span::after{
    content: ''; /*generate content before and after the span */
    width: 100%;
    height: 2px;
    left: 0;
    position: absolute;
    background: chartreuse;
}

/*they don't appear yet because they are at the same position as the main span*/
/*we'll move them 10px up and 10px down*/
.burger span::before{
    transform: translateY(-1vh);
    height: 4px;

}
.burger span::after{
    transform: translateY(1vh);
    height: 4px;

}

/*let's make our X animation*/
/*to the first span*/
.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg); /*the 0px corresponds to the pivot*/
}
/*we hide the second span*/
.burger.active span{
    background: transparent;
}
/*third span*/
.burger.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
}
}
